<!DOCTYPE html>
<html lang="ES"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Mantenimiento Usuario</title>
</head>
<body>
<main layout:fragment="content">
  <header class="section-header">
    <div class="tbl">
      <div class="tbl-row">
        <div class="tbl-cell">
          <h3>Mantenimiento Usuario</h3>
          <ol class="breadcrumb breadcrumb-simple">
            <li><a th:href="@{/home}">Inicio</a></li>
            <li class="active">Mantenimiento Usuario</li>
          </ol>
        </div>
      </div>
    </div>
  </header>

  <div class="box-typical box-typical-padding">
    <button type="button" id="btnnuevo" class="btn btn-inline btn-primary">Nuevo Registro</button>
    <table id="usuario_data" class="table table-bordered table-striped table-vcenter js-dataTable-full" style="width:100%">
      <thead>
      <tr>
        <th style="width: 10%;">Nombre</th>
        <th style="width: 10%;">A. Paterno</th>
        <th style="width: 10%;">A. Materno</th>
        <th class="d-none d-sm-table-cell" style="width: 10%;">Correo</th>
        <th class="d-none d-sm-table-cell" style="width: 10%;">Rol</th>
        <th class="d-none d-sm-table-cell" style="width: 10%;">Area</th>
        <th class="d-none d-sm-table-cell" style="width: 10%;">F. Modificación</th>
        <th class="d-none d-sm-table-cell" style="width: 10%;">F. Eliminación</th>
        <th class="d-none d-sm-table-cell" style="width: 5%;">Estado</th>
        <th class="text-center" style="width: 5%;">Editar</th>
        <th class="text-center" style="width: 5%;">Eliminar</th>
        <th class="text-center" style="width: 5%;">Activar</th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <div th:replace="~{fragments/modalmantenimiento :: modal-usuario}"></div>
</main>
<th:block layout:fragment="js">
  <script type="text/javascript" th:src="@{/js/mntusuario.js}"></script>
</th:block>
</body>
</html>